@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;

}

html, body{
    height: 100%;


}

.box {
    background-image: url(donu.jpg);
    padding: 200px 100px;
    margin: 100px;
    background-repeat: repeat;
    background-size:cover ;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#footer {
    color: white;
    background-color: darkgray;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

li, a, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;

}


.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;   
}

.nav__links li a:hover {
    color: #0088a9;
}

